.Like {
  display: flex;
  font-size: 1.125rem;
  color: rgb(27, 105, 69);
  button {
    background: none;
    outline: none;
    border: none;
    background: white;
    color: rgb(35, 165, 104);
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.1s background ease-in;
    &:hover {
      background: #adb5bd;
    }
  }
}
